<!DOCTYPE html>
<html ng-app='Snake'>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Snake Game</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="snake.css">
</head>

<body ng-controller="SnakeVM as game">
    <div id="gameContainer">
        <h3>Score: {{game.score}}</h3>
        <div>
            <div class="row" ng-repeat="column in game.board">
                <div class="column" ng-style="{'background-color': game.setStyling($parent.$index, $index)}" ng-repeat="row in column track by $index"></div>
            </div>
        </div>
        <div id="startGame" ng-click="game.start()">Start Game</div>
    </div>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="client.js"></script>
    <script src="snake.controller.js"></script>
</body>

</html>